.wrapper {
  min-height: 100vh;
  background: rgb(126, 182, 251);

  background: linear-gradient(
    90deg,
    rgb(82, 130, 244) 0%,
    rgb(129, 75, 224) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    rgb(47, 143, 239) 0%,
    rgb(28, 48, 224) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgb(141, 42, 203) 0%,
    rgb(131, 120, 247) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fbd07c", endColorstr="#f7f779", GradientType=1 );
}
